.container {
  display: block;
  background: #f7f6ff;
  padding: 60px 0px 40px 0px;
  .wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .mainTitle {
    color: #222c5d;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }
  .programBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0px 40px 0px;
    .box {
      display: block;
      border-radius: 20px;
      background: #7771d7;
      min-width: 18%;
      max-width: 18%;
      text-decoration: none;
      padding: 30px 24px;
      position: relative;
      min-height: 245px;
      h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.48px;
        position: relative;
        padding-bottom: 5px;
      }
      h3::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 80%;
        height: 1px;
        background: #fff;
      }
      p {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        padding: 12px 0px;
      }
      .arrow {
        position: absolute;
        right: 15px;
        bottom: 15px;
        display: block;
      }
      .bgImg {
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: block;
        img {
          display: block;
        }
      }
    }
  }
  .btnBox {
    display: flex;
    justify-content: center;
    a {
      display: block;
      border-radius: 12px;
      background: #f57a3e;
      color: #fff;
      text-align: center;
      font-family: "Chillax", sans-serif;
      font-size: 16px;
      padding: 16px 20px;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      border: solid 2px #f57a3e;
    }
    a:hover {
      background: #fff;
      color: #f57a3e;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
    .mainTitle {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 100% */
      letter-spacing: -0.96px;
      text-transform: uppercase;
    }
    .programBox {
      padding: 20px 0px;
      flex-wrap: wrap;
      .box {
        min-width: 48%;
        max-width: 48%;
        font-size: 18px;
        text-align: center;
        min-height: 188px;
        margin: 10px 0px;
        padding: 30px 15px;
        text-align: left;
        &:last-child {
          margin: 0px auto;
        }
        h3 {
          color: #fff;
          font-size: 18px;
        }
        h3::after {
          width: 100%;
        }
      }
    }
  }
}
