.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    background: #222c5d;
    border-radius: 16px;
    margin: 50px auto;
    position: relative;
    padding: 150px 80px 220px 80px;
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 3;
    }
    .userIcon {
      position: relative;
      z-index: 2;
      display: block;
      img {
        display: block;
      }
    }
    h2 {
      color: #fff;
      text-align: center;
      font-size: 48px;
      position: relative;
      z-index: 2;
    }
    p {
      display: block;
      text-align: center;
      padding: 10px 40px;
      color: #fff;
      font-size: 24px;
      line-height: 38px;
      position: relative;
      z-index: 2;
    }
    .topBatch {
      position: absolute;
      top: 0;
      left: 30px;
      z-index: 1;
    }
    .leftBatch {
      position: absolute;
      bottom: 20%;
      left: 0;
      z-index: 1;
    }
    .rightBatch {
      position: absolute;
      top: 40%;
      right: 0;
      z-index: 1;
    }
    .bottomBatch {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .wrapper {
      padding: 80px 40px 150px 40px;
      h2 {
        color: #fff;
        text-align: center;
        font-size: 32px;
        position: relative;
        z-index: 2;
      }
      p {
        font-size: 18px;
        line-height: 38px;
        position: relative;
        z-index: 2;
      }
      .topBatch {
        max-width: 100px;
      }
      .leftBatch {
        max-width: 100px;
      }
      .rightBatch {
        max-width: 100px;
      }
      .bottomBatch {
        max-width: 100px;
      }
    }
  }
}
