.container {
  display: block;
  padding: 100px 0px;
  position: relative;
  .envIcon {
    display: block;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .founderBox {
    .founderInfo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      border-radius: 17px;
      border: 0.5px solid #000;
      background: #fff;
      margin: 0 auto;
      max-width: 1024px;
      .stepIcon {
        position: absolute;
        left: -90px;
        bottom: -70px;
      }
      .stepTree {
        position: absolute;
        top: -78px;
        right: -80px;
      }
      .founderPick {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 94px 100px;
        text-align: center;
        img {
          display: block;
          min-width: 292px;
        }
        p {
          display: block;
          padding: 26px 10px;
          strong {
            display: block;
            color: #222c5d;
            text-align: center;
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
          span {
            padding-top: 5px;
            display: block;
            color: #222c5d;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        .sign {
          display: none;
        }
      }

      .founderContent {
        border-left: 0.5px solid #000;
        display: block;
        text-align: center;
        padding: 64px 40px;
        h2 {
          color: #7771d7;
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px;
          letter-spacing: -0.96px;
          text-transform: uppercase;
        }
        p {
          padding: 10px;
          display: block;
          color: #222c5d;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 90px;
    margin-top: 80px;
    padding-bottom: 40px;
    .envIcon {
      display: block;
      margin: 0px;
      position: absolute;
      left: 0;
      top: -160px;
      width: 100%;
    }
    .founderBox {
      .founderInfo {
        margin: 0px 30px;
        flex-direction: column;
        .stepIcon {
          display: none;
        }
        .stepTree {
          display: none;
        }
        .founderPick {
          order: 2;
          padding: 20px;
          img {
            display: block;
          }
          p {
            display: block;
            padding: 26px 10px;
            strong {
              display: block;
            }
            span {
              font-size: 16px;
            }
          }
          .sign {
            display: block;
            img {
              max-width: 82px;
              min-width: 82px;
            }
          }
        }

        .founderContent {
          border-left: none;
          padding: 20px;
          order: 1;
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 16px;
          }
          .sign {
            display: none;
          }
        }
      }
    }
  }
}
