.container {
  display: block;
  padding: 0px;
  .mainTitle {
    color: #222c5d;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -2.4px;
    text-transform: uppercase;
    padding: 50px;
  }
  .imageWrapper {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .mainTitle {
      font-size: 32px;
      padding: 30px;
    }
    .imageWrapper {
      display: block;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
